.gallery {
  max-width: 100%;
  width: 600px;

  img {
    border: 2px solid #fff;
    border-radius: .25rem;
    display: block;
  }

  &-full-size-image {
    width: 100%;
    height: auto;

    img {
      max-width: 100%;
    }
  }

  &-preview-container {
    overflow: hidden;

    img {
      max-width: calc(100% / 3);
      height: auto;
      float: left;
      cursor: pointer;
    }
  }
}
